body{margin:0;font-family: 'Concert One', cursive;}

#navbar{

	background-color:black;
	transition:all 1s ease;
	position: absolute;
	height:100px;
	width:100%;
	color:white;
}

nav{
	color:white;
	font-weight: bolder;
	position: absolute;
	text-decoration: none;

}
.navlinks{
	position: relative;
	margin-top:35%;
}
